.BackGround {
  background-size: cover;
  background-color: rgb(105, 224, 205);
  height: 100vh;
  width: auto;
  top:0%;
  left: 0%;
  margin-top: -7vh;
}
.AppBackGround{
  background-color: #fff;
  height: 50vh;
  width: 50vh;
  position: fixed; /* or absolute */
  top: 25%;
  left: 35%;
  box-sizing: border-box;
  border-radius: 5px;
  border-color: #333;
    box-shadow: 4px 8px 10px 3px;
 
 

 
}

